<ion-view title="Nocturno"  hide-back-button="true">

    <ion-content padding="true" class="has-header">
      <br>
      <img ng-src="img/logo.png" class="logo">
      <br>
      <form name="loginForm" novalidate>
        <div class="card">
          <ion-list>
            <label class="item item-input">
              <input type="email" name="username" placeholder="Correo electrónico" ng-model="creds.email" required>
            </label>

            <label class="item item-input">
              <input type="password" name="password" placeholder="Contraseña" ng-model="creds.password" minlength="6" required>
            </label>
          </ion-list>
        </div>


        <a ng-click="doLoginAction(creds)" class="button button-stable button-dark button-block"  ng-disabled="loginForm.$invalid">Iniciar Sesion</a>
      </form>

      <div class="center-text">
        <a href="#/reset-password" >¿Has olvidado la contraseña?</a>
      </div>
      <!--  -->
      <div class="footer center-text">
        <a href="#/registroUsuario">¿Aún sin Nocturno?</a>
      </div>

    </ion-content>
  </ion-view>
</ion-view>
