<ion-view title="Forgot Password">
  <ion-content ng-show="!resr" has-header="true" has-tabs="true" padding="true">
    <br>
      <img ng-src="img/logo.png" class="logo">
    <br>
    <div class="card">
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="Ingrese su correo electrónico" ng-model="creds.email">
        </label>
      </ion-list>
    </div>
    <div class="assertive" ng-show="error.message">{{error.message}}</div>
    <button class="button button-block button-dark" ng-click="doResetPassword(creds)">
      Restablecer Contraseña
    </button>
    {{resr}}
  </ion-content>
  <ion-content ng-show="resr" has-header="true" has-tabs="true" padding="true">
    <br>
    <img ng-src="img/logo.png" class="logo">
    <br>
    <div class="positive">
      <h4>Un correo electronico le ha sido enviado con instrucciones para restablecer su contraseña.</h4>
    </div>
    <a class="button button-block button-clear button-calm"ng-href="#/login" ng-click="resr=false;">
      Iniciar Sesion
    </a>
  </ion-content>
</ion-view>
